---
layout: default
---
<section class="flex flex-wrap justify--center spacing--gutter intro spacing--vert-2 bg--texture">
	<div class="grid--one logo">
		<i class="icon-logo-two" data-grunticon-embed></i>
		
	</div>
	<div class="max-wrap spacing--gutter grid--md-two-thirds spacing--vert-2 spacing--dsk-vert-6">
		<i class="icon-fill" data-grunticon-embed></i><br>
		<h2 class="text--center">Welcome, grab a seat and stay awhile. Our chef-driven, seasonal tavern fare includes a canon of shareable bites, salads, entrées, craft-beers, spirits & wine. Trust us, its going to be amazing.</h2>
		<div class="spacing--vert-3">
			{% include form.html %}
		</div>
	</div>
</section>
{% assign bios = site.bios | sort:"order" %}
<section class="spacing--gutter spacing--vert-2">
	<h2 class="color--black text--center chef-spacing icon-line-thin">Meet The Team</h2>
</section>
{% for bio in bios %}
	<section id="{{bio.name|url_encode}}" class="chef-wrap flex flex-wrap justify--between spacing--gutter-dsk spacing--dsk-vert-3 max-wrap color--black">
		<div class="chef--profile grid--one grid--sm-third" id="{{bio.name |downcase| replace: ' ','-' }}">
			<img src="{{bio.image}}" width="300" alt="{{bio.name}}">
			<div class="spacing--gutter-mob spacing--vert-1">
				<h3>{{bio.name}}</h3>
				<h4>{{bio.position}}</h4>
			</div>
		</div>
		<div class="chef--bio grid--one grid--sm-two-thirds spacing--gutter-mob">
			<div class="bio-content">{{bio.content}}</div>
			<a href="" class="dsk--hide color--gray text--center readmore">Read More</a>
		</div>
	</section>
{% endfor %}