<footer class="bg--texture text--center spacing--vert-1">
<div class="spacing--vert-3 spacing--dsk-vert-5">
<a class="color--gold-faded footer--links" href="mailto:hello@canoneastsac.com">Work With Us</a>
<a class="color--gold-faded footer--links" href="/#signup">Stay in touch</a>
	
	<div class="social--links">
<!-- <div class="footer--light">Follow Us</div> -->
	<a target="_blank" class="footer--social" title="Follow Canon on Facebook" href="https://www.facebook.com/canoneastsac/">
		<i class="icon-social--facebook" data-grunticon-embed></i>
	</a>
	<a target="_blank" class="footer--social" title="Follow @CanonEastSac on Twitter" href="https://twitter.com/CanonEastSac">
		<i class="icon-social--twitter" data-grunticon-embed></i>
	</a>
	<a target="_blank" class="footer--social" title="Follow @canoneastsac on instagram" href="https://www.instagram.com/canoneastsac/">
		<i class="icon-social--instagram" data-grunticon-embed></i>
	</a>
	</div>
</div>
	<div class="footer--light">&copy; <script>var date = new Date().getFullYear();document.write(date);</script>
	Canon. All Rights Reserved | Website by <a target="_blank" class="color--white" href="http://honeyagency.com/?ref=clientsite&site=CanonEastSac">Honey Agency</a></div>
</footer>
<script src="/app/app.min.js" type="text/javascript" charset="utf-8" async defer></script>