.icon-arrow-right { background-image: url('app/icons/arrow-right.png'); background-repeat: no-repeat; }

.icon-canon-feast { background-image: url('app/icons/canon-feast.png'); background-repeat: no-repeat; }

.icon-east-sac { background-image: url('app/icons/east-sac.png'); background-repeat: no-repeat; }

.icon-fill { background-image: url('app/icons/fill.png'); background-repeat: no-repeat; }

.icon-line-thin { background-image: url('app/icons/line-thin.png'); background-repeat: no-repeat; }

.icon-line { background-image: url('app/icons/line.png'); background-repeat: no-repeat; }

.icon-logo-two { background-image: url('app/icons/logo-two.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--insta { background-image: url('app/icons/social--insta.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

.icon-wide-line { background-image: url('app/icons/wide-line.png'); background-repeat: no-repeat; }

