// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------

$gold: (
	main: 		#D2AB82,
);

$blue: (
	main: 		#354754,
);


$black: #291F27;

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
);

