@mixin fadeInDown {
    0% {
        transform: translatey(-50px);
        opacity: 0;
    }

    75% {
        opacity: .65;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    @include fadeInDown;
}

@include media($screen-sm) {
    .icon-logo-two {
        path, polyline {
            stroke-dasharray: 1000;
            stroke-dashoffset: -60;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.26, 0.04, 0.27, 0.95);
            fill: transparent;
            stroke: transparent;
            animation-name: dash;
        }

        .cls-2 {
            opacity: 1;
            stroke-dasharray: none;
            stroke-offest: none;
            fill: #d2ab82;
            stroke: none;
            animation: none !important;
        }

        @keyframes dash {
            to {
                stroke: #fff;
                stroke-dashoffset: 0;
            }
        }
    }
}


@mixin fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feast--logo {
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.26, 0.04, 0.27, 0.95);
    animation-name: fadeIn;

    @keyframes fadeIn {
        @include fadeIn;
    }
}