.bg--gold {
    background-color: map-get($gold, main);
}

.bg--blue {
    background-color: map-get($blue, main);
}

.bg--black {
    background-color: $black;
}

.bg--white {
    background-color: white;
}