.color--white {
    color: white;

    svg {
        path {
            fill: white;
        }
    }
}

.color--black {
    color: $black;

    svg {
        path {
            fill: $black;
        }
    }
}

.color--gray {
    color: transparentize($black, 0.3);

    svg {
        path {
            fill: transparentize($black, 0.3);
        }
    }
}

.color--gold {
    color: map-get($gold, main);

    svg {
        path {
            fill: map-get($gold, main);
        }
    }
}

.color--gold-faded {
    color: map-get($gold, faded);

    svg {
        path {
            fill: map-get($gold, faded);
        }
    }
}